<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DIY Home Repaire Guide | <%= title %></title>
        <link rel="stylesheet" href="/Categories Home Page/categories.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    </head>

    <body>

        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <a href="/"><img src="/Website_Logo.png" ></a>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contacts">Contacts</a></li>
            </ul>
        </nav>

        <div class="main">

            <div class="categories-container" id="categories-content">

                <div class="tutorial-container">

                    <% categoryItems.forEach(data => { %>
                        <div class="leakyfaucet-container">
                            <img class="leakyfaucet-photo" src="<%= data.image %>" alt="<%= data.title %> Thumbnail">
                            <h1 class="leakyfaucet-header"><%= data.title %></h1>
                            <p class="leakyfaucet-paragraph"><%= data.explanation %></p>
                        </div>
                    <% }) %>

                </div>

                <div class="video-container">
                    <button id="remove-btn"><i class="fa-solid fa-x remove"></i></button>
                    <div class="video-details">
                        <div class="video-tutorial">
                            <iframe src="https://www.youtube-nocoockie.com/embed/8JHpSqu26Nc?si=1nSGA-Ev1SC09nuq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
        </div>

    </body>

    <script src="/Categories Home Page/categories.js"></script>


</html>